<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <p><a href="/auth/newfacebook">Log In with Facebook</a></p>
      <p><a href="/auth/newgoogle">Log In with google</a></p>
      <p><a href="/auth/newgithub">Log In with github</a></p>
      <p><a href="/auth/newtwitter">Log In with twitter</a></p>
      <p><a href="/auth/newlinkedin">Log In with linkedin</a></p>  
  </body>
</html>
