<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <p><a href="/auth/facebook">Log In with Facebook</a></p>
      <p><a href="/auth/google">Log In with google</a></p>
      <p><a href="/auth/github">Log In with github</a></p>
      <p><a href="/auth/twitter">Log In with twitter</a></p>
      <p><a href="/auth/linkedin">Log In with linkedin</a></p>  
  </body>
</html>
